// Padding
.layout-p-0 {
    padding: 0!important;
}

.layout-p-4 {
    padding: 4px!important;
}

.layout-p-8 {
    padding: 8px!important;
}

.layout-p-12 {
    padding: 12px!important;
}

.layout-p-16 {
    padding: 16px!important;
}

.layout-p-18 {
    padding: 18px!important;
}

.layout-p-24 {
    padding: 24px!important;
}

.layout-p-32 {
    padding: 32px!important;
}

// Padding Top
.layout-pt-0 {
    padding-top: 0!important;
}

.layout-pt-4 {
    padding-top: 4px!important;
}

.layout-pt-8 {
    padding-top: 8px!important;
}

.layout-pt-12 {
    padding-top: 12px!important;
}

.layout-pt-16 {
    padding-top: 16px!important;
}

.layout-pt-18 {
    padding-top: 18px!important;
}

.layout-pt-24 {
    padding-top: 24px!important;
}

.layout-pt-32 {
    padding-top: 32px!important;
}

// Padding Right
.layout-pr-0 {
    padding-right: 0!important;
}

.layout-pr-4 {
    padding-right: 4px!important;
}

.layout-pr-8 {
    padding-right: 8px!important;
}

.layout-pr-12 {
    padding-right: 12px!important;
}

.layout-pr-16 {
    padding-right: 16px!important;
}

.layout-pr-18 {
    padding-right: 18px!important;
}

.layout-pr-24 {
    padding-right: 24px!important;
}

.layout-pr-32 {
    padding-right: 32px!important;
}

// Padding Bottom
.layout-pb-0 {
    padding-bottom: 0!important;
}

.layout-pb-4 {
    padding-bottom: 4px!important;
}

.layout-pb-8 {
    padding-bottom: 8px!important;
}

.layout-pb-12 {
    padding-bottom: 12px!important;
}

.layout-pb-16 {
    padding-bottom: 16px!important;
}

.layout-pb-18 {
    padding-bottom: 18px!important;
}

.layout-pb-24 {
    padding-bottom: 24px!important;
}

.layout-pb-32 {
    padding-bottom: 32px!important;
}

// Padding Left
.layout-pl-0 {
    padding-left: 0!important;
}

.layout-pl-4 {
    padding-left: 4px!important;
}

.layout-pl-8 {
    padding-left: 8px!important;
}

.layout-pl-12 {
    padding-left: 12px!important;
}

.layout-pl-16 {
    padding-left: 16px!important;
}

.layout-pl-18 {
    padding-left: 18px!important;
}

.layout-pl-24 {
    padding-left: 24px!important;
}

.layout-pl-32 {
    padding-left: 32px!important;
}

// Padding Y (Top and Bottom)
.layout-py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.layout-py-4 {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}

.layout-py-8 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.layout-py-12 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.layout-py-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.layout-py-18 {
    padding-top: 18px!important;
    padding-bottom: 18px!important;
}

.layout-py-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.layout-py-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

// Padding X (Left and Right)
.layout-px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.layout-px-4 {
    padding-left: 4px!important;
    padding-right: 4px!important;
}

.layout-px-8 {
    padding-left: 8px!important;
    padding-right: 8px!important;
}

.layout-px-12 {
    padding-left: 12px!important;
    padding-right: 12px!important;
}

.layout-px-16 {
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.layout-px-18 {
    padding-left: 18px!important;
    padding-right: 18px!important;
}

.layout-px-24 {
    padding-left: 24px!important;
    padding-right: 24px!important;
}

.layout-px-32 {
    padding-left: 32px!important;
    padding-right: 32px!important;
}

// Margin
.layout-m-0 {
    margin: 0!important;
}

.layout-m-4 {
    margin: 4px!important;
}

.layout-m-8 {
    margin: 8px!important;
}

.layout-m-12 {
    margin: 12px!important;
}

.layout-m-16 {
    margin: 16px!important;
}

.layout-m-18 {
    margin: 18px!important;
}

.layout-m-24 {
    margin: 24px!important;
}

.layout-m-32 {
    margin: 32px!important;
}

// Margin Top
.layout-mt-0 {
    margin-top: 0!important;
}

.layout-mt-4 {
    margin-top: 4px!important;
}

.layout-mt-8 {
    margin-top: 8px!important;
}

.layout-mt-12 {
    margin-top: 12px!important;
}

.layout-mt-16 {
    margin-top: 16px!important;
}

.layout-mt-18 {
    margin-top: 18px!important;
}

.layout-mt-24 {
    margin-top: 24px!important;
}

.layout-mt-32 {
    margin-top: 32px!important;
}

// Margin Right
.layout-mr-0 {
    margin-right: 0!important;
}

.layout-mr-4 {
    margin-right: 4px!important;
}

.layout-mr-8 {
    margin-right: 8px!important;
}

.layout-mr-12 {
    margin-right: 12px!important;
}

.layout-mr-16 {
    margin-right: 16px!important;
}

.layout-mr-18 {
    margin-right: 18px!important;
}

.layout-mr-24 {
    margin-right: 24px!important;
}

.layout-mr-32 {
    margin-right: 32px!important;
}

// Margin Bottom
.layout-mb-0 {
    margin-bottom: 0!important;
}

.layout-mb-4 {
    margin-bottom: 4px!important;
}

.layout-mb-8 {
    margin-bottom: 8px!important;
}

.layout-mb-12 {
    margin-bottom: 12px!important;
}

.layout-mb-16 {
    margin-bottom: 16px!important;
}

.layout-mb-18 {
    margin-bottom: 18px!important;
}

.layout-mb-24 {
    margin-bottom: 24px!important;
}

.layout-mb-32 {
    margin-bottom: 32px!important;
}

// Margin Left
.layout-ml-0 {
    margin-left: 0!important;
}

.layout-ml-4 {
    margin-left: 4px!important;
}

.layout-ml-8 {
    margin-left: 8px!important;
}

.layout-ml-12 {
    margin-left: 12px!important;
}

.layout-ml-16 {
    margin-left: 16px!important;
}

.layout-ml-18 {
    margin-left: 18px!important;
}

.layout-ml-24 {
    margin-left: 24px!important;
}

.layout-ml-32 {
    margin-left: 32px!important;
}

// Margin Y (Top and Bottom)
.layout-my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.layout-my-4 {
    margin-top: 4px!important;
    margin-bottom: 4px!important;
}

.layout-my-8 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
}

.layout-my-12 {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
}

.layout-my-16 {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.layout-my-18 {
    margin-top: 18px!important;
    margin-bottom: 18px!important;
}

.layout-my-24 {
    margin-top: 24px!important;
    margin-bottom: 24px!important;
}

.layout-my-32 {
    margin-top: 32px!important;
    margin-bottom: 32px!important;
}

// Margin X (Left and Right)
.layout-mx-0 {
    margin-left: 0!important;
    margin-right: 0!important;
}

.layout-mx-4 {
    margin-left: 4px!important;
    margin-right: 4px!important;
}

.layout-mx-8 {
    margin-left: 8px!important;
    margin-right: 8px!important;
}

.layout-mx-12 {
    margin-left: 12px!important;
    margin-right: 12px!important;
}

.layout-mx-16 {
    margin-left: 16px!important;
    margin-right: 16px!important;
}

.layout-mx-18 {
    margin-left: 18px!important;
    margin-right: 18px!important;
}

.layout-mx-24 {
    margin-left: 24px!important;
    margin-right: 24px!important;
}

.layout-mx-32 {
    margin-left: 32px!important;
    margin-right: 32px!important;
}

